.header {
    font-size: 20px;
    height: 3.5rem;
    background-color: yellow;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .right-part-header {
        display: flex;
        width: 30%;
        justify-content: space-between;
    }

    
}