.post {
	width: 60%;
	height: fit-content;
	border-radius: 5px;
	background-color: aliceblue;
	margin: 10px;
	&:hover {
		background-color: rgb(208, 208, 208);
		border: 5px solid rgb(255, 19, 19);
	}
	.rating {
		display: flex;
		flex-direction: row;

		.like,
		.dislike {
			margin: 10px;
			width: 20px;
			height: 20px;
			background-color: rgb(3, 2, 1);
		}
		.dislike {
			background-color: rgb(153, 103, 38);
		}
		.like:hover,
		.dislike:hover {
			color: #2ebdd1;
			transition: all 0.2s ease-in-out;
			transform: scale(1.1);
		}
	}
	.delete-or-edit-post {
		display: flex;
		.delete-post,
		.edit-post {
			// width: 10px;
			// height: 10px;
			background-color: blueviolet;
			margin: 10px;
			z-index: 60;
		}
		.edit-post {
			background-color: brown;
		}
	}

	.comments {
		background-color:aquamarine;
		.answer-block {
			margin-left: 10px;
		}
	}
}
